div {
  border-left: 10px solid saddlebrown;
  border-right: 10px solid saddlebrown;

  border-top-left-radius: 78px;
  border-top-right-radius: 8px;

  border-bottom-right-radius: 77px;
  border-bottom-left-radius: 8px;
  background-color: blue;
  width: 350px;
  height: 150px;
  margin: auto;
}
p {
  text-align: center;
  font-size: 61px;
  color: white;
  padding: 28px;
}
